<a href="https://colab.research.google.com/github/DAEHO0/python/blob/main/230827_cafe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### t-검정

In [ ]:
# 데이터 불러오기
import pandas as pn

df = pn.read_csv('/content/drive/MyDrive/ifood_df.csv')
df

In [ ]:
# 데이터 전처리 null 값 확인
df.isnull().sum()

In [ ]:
# 데이터 전처리 NaN 값 확인
df.isna().sum()

In [ ]:
# 모듈 불러오기
import pandas as pd
from scipy.stats import ttest_ind

## 독신 고객의 평균 과일 소비량 데이터와
## 기혼 고객의 평균 과일 소비량 데이터 추출

# 독신 고객 = 'marital_Single'
# 기혼 고객 = 'marital_Married'
# 지난 2년 동안 과일 소비량 = 'MntFruits'
sngl = df['MntFruits'][df['marital_Single']]
marr = df['MntFruits'][df['marital_Married']]

## 독립 표본 t-검정 수행
t_statistic, p_value = ttest_ind(sngl, marr)

## 결과 출력
print('독립 표본 t-검정 결과 :', t_statistic)
print('p-값 :', p_value)

독립 표본 t-검정 결과 : 12.5844112952128
p-값 : 1.0503792242112223e-35

In [ ]:
## 두 독립 표본의 평균 비교
print('독신 고객의 평균 과일 소비량 :', sngl.mean())
print('기혼 고객의 평균 과일 소비량 :', marr.mean())

독신 고객의 평균 과일 소비량 : 69.17959183673469
기혼 고객의 평균 과일 소비량 : 54.304761904761904

In [ ]:
'겜하고 싶다'
'겜하고 싶다'
'겜하고 싶다'
'겜하고 싶다'
'겜하고 싶다'
'겜하고 싶다'
'겜하고 싶다'
'겜하고 싶다'
'겜하고 싶다'
'겜하고 싶다'

In [ ]:
print('그럼', 2 * 10000, '~')

그럼 20000 ~