In [4]:
# 재방문 촉진을 위한 할인 쿠폰 지급 기준
# 어떤 고객을 대상으로 할인 쿠폰을 지급해야 하는가?

# 데이터 불러오기
import pandas as pd
df = pd.read_csv('data2.csv', encoding = 'utf-8')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,US$2.39
1,1,1,Izze,[Clementine],US$3.39
2,1,1,Nantucket Nectar,[Apple],US$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,US$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",US$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",US$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",US$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",US$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",US$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",US$8.75

In [5]:
# Null 값, US$ 제거를 위한 전처리

# 전처리
import pandas as pd

# NULL 값을 삭제한 데이터프레임 생성
df_cln = df.dropna()

print("\nDataFrame after dropping NULL values:")
print(df_cln)

DataFrame after dropping NULL values:
      order_id  quantity           item_name  \
1            1         1                Izze
2            1         1    Nantucket Nectar
4            2         2        Chicken Bowl
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
...        ...       ...                 ...
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description item_price
1                                          [Clementine]   US$3.39
2                                               [Apple]   US$3.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...  US$16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...  US$10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...  US$11.75
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...  US$11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...  US$11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...  US$11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...   US$8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...   US$8.75

[3376 rows x 5 columns]

In [6]:
import pandas as pd

# 'US$'를 제거 후 float 타입으로 변경
df_cln['item_price'] = df_cln['item_price'].str.replace('US\$', '', regex=True).astype(float)

print("Original DataFrame:")
print(df_cln)

Original DataFrame:
      order_id  quantity           item_name  \
1            1         1                Izze
2            1         1    Nantucket Nectar
4            2         2        Chicken Bowl
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
...        ...       ...                 ...
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description  item_price
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.75
...                                                 ...         ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

[3376 rows x 5 columns]

/var/folders/s8/b5ddcdnx25l500gsx0l22qrc0000gn/T/ipykernel_1647/609841870.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cln['item_price'] = df_cln['item_price'].str.replace('US\$', '', regex=True).astype(float)

In [10]:
# order_id별 item_price의 합계를 계산 후 이 합계 값들의 평균을 계산

import pandas as pd
average_prices = df_cln.groupby('order_id')['item_price'].sum().mean()
print(average_prices)

16.5969558101473

In [11]:
# order_id별 합계 계산 후 df_orid_grp에 저장
df_orid_grp = df_cln.groupby('order_id').sum()

# order_id별 item_price의 평균 >= 18($)인 값을 추출
results = df_orid_grp[df_orid_grp.item_price >= 18]

# 상위 10개 행 추출
print(results[:10])

# 위 조건에 만족하는 행의 개수
print(len(results.index.values))


# quantity를 방문 횟수로 해석함
# 654개로 너무 많은 고객이 모임
# 방문 횟수가 대체로 적은 편

          quantity  item_price
order_id
4                2       21.00
20               3       31.75
21               3       23.36
26               2       20.50
28               3       29.25
30               3       23.36
34               3       26.25
36               2       18.00
37               2       18.00
40               3       32.75
654

/var/folders/s8/b5ddcdnx25l500gsx0l22qrc0000gn/T/ipykernel_1647/3852189689.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_orid_grp = df_cln.groupby('order_id').sum()

In [12]:
# order_id별 합계 계산 후 df_orid_grp에 저장
df_orid_grp = df_cln.groupby('order_id').sum()

# order_id별 item_price의 평균 >= 50($)인 값을 추출
results = df_orid_grp[df_orid_grp.item_price >= 50]

# 상위 10개 행 추출
print(results[:10])

# 위 조건에 만족하는 행의 개수
print(len(results.index.values))


# 방문 횟수도 평균 구매금액이 18$인 고객들에 비해 높음
# 19개 합리적!

          quantity  item_price
order_id
195              8       81.00
205             11      107.75
491             10      102.00
511              9       77.99
577              5       56.25
691             11      118.25
759             10       65.50
818              6       59.00
848              6       52.50
926             23      205.25
19

/var/folders/s8/b5ddcdnx25l500gsx0l22qrc0000gn/T/ipykernel_1647/2020762404.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_orid_grp = df_cln.groupby('order_id').sum()

In [13]:
# 결론 :
# 고객별 구매금액(item_price)의 합계를 계산 후 평균을 매김
# 한 고객당 구매 평균 금액은 18$로 밝혀짐
# 평균 구매금액이 50$ 이상인 고객들은 방문 횟수가 대체로 많음

# Insight :
# 한 달 기준 누적 방문횟수 6회 이상, 50$ 이상 구매한 고객들 대상으로
# 할인 쿠폰을 지급